body > div {
	width: 1349px;
	margin: auto;
	position: relative;
	/*border: 2px solid red;*/
	overflow: hidden;
}

.top-div {
	margin-bottom: 35px; 
	overflow: visible;
	margin-top: 25px;
	/*border: 2px solid blue;*/
}

.divider {
	border-bottom: 1px solid gray;
	margin-top: 20px;
	margin-bottom: 40px; 
}

#home-page-image {
	background-image: url('img/img001.jpg');
	background-position: center top;
	background-size: 100% 650px;
	width: 1349px;
	height: 650px;
}

.rectangle {
	display: inline-block;
	height: 60px;
	color: white;
	font-size: 40px;
	font-family: Century Gothic, serif;
	text-align: center;
}

#first-name {
	float: left;
	width: 135px;
	background-color: rgba(204,0,0,0.7);
}

#last-name {
	clear: left;
	width: 185px;
	background-color: rgba(0,0,0,0.8);
}

/*** Navigation Bar ***/

.navbar {
	float: right;
	display: inline-block;
	margin-top: 9px;
	margin-right: 40px;
}

.navbar-tabs {
	display: inline-block;
	line-height: 40px;
	width: 150px;
	margin-right: 25px;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	font-family: Century Gothic, serif;
}

.navbar .navbar-tabs>a, .navbar .navbar-tabs>a:visited {
	display: block;
	width: 100%;
	color: white;
	border: 3px solid white;
	text-decoration: none;
}

.navbar.not-home .navbar-tabs>a, .navbar.not-home .navbar-tabs>a:visited {
	border: 3px solid black;
	color: black;
	text-decoration: none;
}

.navbar .navbar-tabs>a:hover {
	color: black;
	background-color: white;
	font-weight: bold;
    text-decoration: none;
}

/* Dropdown Menu*/

.code-dropdown-menu {
	position: absolute;
	display: none;
	top: 45px;
	left: 219px;
	z-index: 100;
	/*border: 2px solid blue;*/
}

.code-dropdown-menu li {
	list-style: none;
	width: 150px;
	line-height: 40px;
	font-family: Century Gothic, serif;
	font-size: 15px;
	text-align: center;
	background-color: white;
	border: 3px solid black;
	border-top: none;
	border-bottom: 1px solid rgb(150, 150, 150);
	margin-left: -40px;
	color: black;
}

.code-dropdown-menu li:last-child {
	border-bottom: 3px solid black;
}

.code-dropdown-menu a:hover {
	background-color: rgb(180,0,0);
	color: white;
	font-weight: bold;
	text-shadow: 4px 4px 4px rgb(80, 80, 80);
	text-decoration: none;
}

.code-dropdown-menu a, .code-dropdown-menu a:visited, .code-dropdown-menu a:focus {
	display: block;
	width: 100%;
	color: black;
	text-decoration: none;
}

/*Circles*/

.circle {
	position: relative;
	display: inline-block;
	margin-left: 121px;
	margin-bottom: 45px;
	height: 170px;
	width: 170px;
	border-radius: 100%;
	background-position: center;
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.circle:hover{
	border: 2px solid white;
}

#blue-circle {
	background-color: rgb(0, 176, 240);
}

#red-circle {
	background-color: rgb(255, 95, 95);
}

#green-circle {
	background-color: rgb(82, 196, 128);
}

#yellow-circle {
	background-color: rgb(255, 236, 78);
}

#about-me {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto; 
	width: 1349px;
	height: 200px;
	padding-left: 168px;
	padding-right: 168px; 	
	text-align: justify;
	font-size: 24px;
	font-family: Monotype Corsiva, Cursive;
	font-weight: bold;
}

#about-me-heading {
	font-family: Monotype Corsiva, Cursive;
	width: 1349px;
	text-align: center;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: rgb(170,0,0);
}

#container {
	width: 1349px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	/*border: 2px solid red;*/
}

.pic {
	display: inline-block;
	position: relative;
	height: 350px;
	width: 340px;
	margin-left: 30px;
	/*border-radius: 10px;*/
	border: 7px solid black;
	background-size: cover;
	overflow: hidden;
}

#pic1 {
	background-image: url("img/pic006.jpg");
	margin-left: 35px;
}

#pic2 {
	background-image: url("img/pic003.jpg");
}

#pic3 {
	background-image: url("img/pic007.jpg");
}

.pic div {
	position: relative;
	display: none;
	top: -7px;
	left: -7px;
	width: inherit;
	height: 55px;
	text-align: center;
	padding: 20px;
	background-color: rgba(0,0,0, 0.5);
	color: white;
	font-family: Century Gothic, serif;	
}

#about-me p {
	position: absolute;
	display: inline;
	font-family: Monotype Corsiva, Cursive;
	font-size: 24px;
	padding: 25px;
	text-align: justify;
}

#footer {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 1349px;
	background-color: black;
}

#footer p {
	font-family: Monotype Corsiva, Cursive;
	font-color: gray;
	text-align: center;
	padding: 40px;
	font-size: 16px;
	color: white;
	height: 20px;
}

/* Travel */

.space-50px {
	height: 50px;
}


/*** Slide ***/

.slider {
	position: relative;
	width: 70%;
	height: 410px;
	margin: auto;
}

.slider-image {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/* account for the shadow */
	height: 98%;
	width: 99.2%;
	box-shadow: 5px 5px 5px rgb(160, 160, 160);
}

.active-slide {
	display: block;
}

#slide-control {
	font-size: 24px;
	color: black;
	width: 140px;
	/*height: 100px;*/
	margin: auto;
	/*padding-top: 25px;*/
	overflow: hidden;
	/*border: 1px solid red;*/
}

#left-arrow {
	float: left;
	cursor: pointer;
}

#right-arrow {
	float: right;
	cursor: pointer;
}

.diams {
	color: gray;
	font-size: 18px;
	display: inline;
	vertical-align: top;
	cursor: pointer;
}

.active-diam {
	color: black;
	pointer-events: none;
}

.albums {
	margin-top: 70px;
	margin-bottom: 20px;
}

.album-box {
	display: inline-block;
	width: 300px;
	height: 250px;
	border: 2px solid rgba(192, 192, 192, 0.8);
	box-shadow: 10px 10px 10px rgba(150, 150, 150, 0.8);
	margin-bottom: 20px;
}

.album-box:hover {
	border: 2px solid rgba(120, 120, 120, 0.8);
	text-decoration: underline;
	cursor: pointer;
}

.album-box-left {
	margin-left: 130px;
	float: left;
}

.album-box-middle {
	margin-left: 97px;
	float: left;
}

.album-box-right {
	margin-right: 130px;
	float: right;
}

.album-cover {
	width: 92%;
	height: 160px;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 12px;
	margin-bottom: 8px;
	box-shadow: 6px 6px 6px rgba(135, 135, 135, 0.8);
}

.album-title {
	text-align: center;
	vertical-align: center;
	font-family: Monotype Corsiva, Cursive;
	font-size: 24px;
	margin-top: 13px;
	color: rgb(100, 100, 100);
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

.album-window {
	display: none;
	height: 550px;
	background-color: rgb(230,230,230);
    box-shadow: inset 0px 0px 15px 10px rgba(100,100,100,0.9);
}

.album-window-box {
	width:80%;
	height:420px;
	margin:auto;
	/*border:2px solid blue;*/
}

.album-window-box-left {
	float: left;
	width: 55%;
	height: 100%;
	padding-right: 10px;
	/*border: 2px solid yellow;*/
}

.album-window-box-detail {
	display: inline-block;
	float: right;
	width: 40%;
	height: 100%;
	/*border: 2px solid purple;*/
	color: black;
}

.album-window-control {
	font-size: 24px;
	color: black;
	width: 81%;
	/*height: 100%;*/
	margin: auto;
	overflow: hidden;
	/*border: 2px solid red;*/
}

.album-window-close {
	float: right;
	font-size: 34px;
	color: rgba(150, 150, 150, 0.5);
	margin: 35px;
	cursor: pointer;
}

.album-img {
	height: 100%;
	width: 100%;
	position: absolute;
	display: none;
	border: 12px solid black;
	box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.active-album-img {
	display: block;
}

.album-thumbnail {
	display: inline-block;
	height: 45px;
	width: 75px;
	margin-left: 2px;
	opacity: 0.5;
}

.active-album-thumbnail {
	opacity: 1.0;
	border: 3px solid black;
}

.album-box-heading1 {
	font-family: Monotype Corsiva, Cursive;
	font-size: 48px;
	text-shadow: 5px 5px 4px rgb(120,120,120);
}

.album-box-heading2 {
	font-family: Century Gothic, serif;
	text-decoration: underline;
}

.album-box-p1 {
	font-family: Century Gothic, serif;
	font-size: 18px;
	text-align: justify;
}

/* Coding */

.page-top-image {
	position: relative;
	margin: auto;
	height: 400px;
	width: 70%;
	box-shadow: 5px 5px 5px rgb(190, 190, 190);
}

.circle.code-circle {
	margin: 0;
	height: 220px;
	width: 220px;
}

.code-circle-label {
	font-size: 36px;
	font-family: Monotype Corsiva, Cursive;
	margin-top: 15px;
	font-weight: bold;
}

.code-circle img {
	height: 70%;
	width: 70%;
	margin: 15%;
}

.code-circle-label a, .code-circle-label a:visited, .code-circle-label a:focus {
	text-decoration: none;
	color: rgb(50, 50, 50);
	text-shadow: 3px 3px 4px rgb(120,120,120);
}

/*** Resume ***/

.resume {
	font-family: Maiandra GD, Century Gothic, serif;
	font-size: 17px;
}

.resume-container {
	width: 70%;
	margin: auto;
	padding: 30px 0px 30px 25px;
	border-radius: 7px;
	box-shadow: 7px 7px 7px rgb(170,170,170);
	margin: 0 15% 40px 15%; 
}

.resume-title {
	text-align: center;
	background-color: rgb(255,185,185);
	margin-bottom: 65px;
	/*border: 2px solid black;*/
}

.resume-title h1 {
	color: black;
	font-size: 50px;
}

.resume-title span {
	font-weight: bold;
	color: rgb(170,0,0);
}

.resume-section-name {
	width: 70%;
	font-size: 24px;
	font-weight: bold;
	margin: auto;
	border-radius: 7px;
	padding: 5px 0px 5px 25px;
	box-shadow: 5px 5px 5px rgb(150,150,150);
}

.section-list-title {
	font-size: 21px;
	font-weight: bold;
}

.resume-education {
	background-color: rgb(189,239,196);
}

.resume-experience {
	background-color: rgb(182,224,239);
}

.resume-projects {
	background-color: rgb(255,201,201);
}

.resume-skills {
	background-color: rgb(255,245,186);
}

.resume-projects li{
	margin-bottom: 5px;
}

.resume-dwnld-btn {
	width: 180px;
	line-height: 50px;
	background-color: rgb(81,93,255);
	margin: auto;
	font-family: Century Gothic, serif;
	font-size: 1.55rem;
	text-align: center;
	vertical-align: middle;
	border-radius: 5px;
	/*box-shadow: 3px 3px 3px rgb(150,150,150);*/
}

.resume-dwnld-btn a, .resume-dwnld-btn a:active, .resume-dwnld-btn a:visited, .resume-dwnld-btn a:focus  {
	color:white;
	display: block;
	width: 100%;
	text-decoration: none;
}

.resume-dwnld-btn a:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Projects */
.project-container {
	/*border: 1px solid red;*/
	width: 85%;
	margin: auto;
	overflow: hidden;
	padding: 0 9px 9px 0;
}

.project-detail h1 {
	margin-bottom: 30px;
	/*font-weight: bold; */
	font-size: 28px;
	color: black;
	border-radius: 7px;
	padding: 12px 0px 12px 20px;
	box-shadow: 5px 5px 5px rgb(170, 170, 170);
}

.project-img {
	margin-top: 115px;
}

.project-detail {
	display: inline-block;
	margin: auto;
	text-align: justify;
	font-size: 17px;
	font-family: Century Gothic, serif;
}